/*Basic CSS for blogish site*/
html, body {
  background: #000;
  color: #eee;
  font-family: 'Ubuntu', sans-serif;
  margin: auto;
}

main {
  max-width: 40em;
  font-size: 1.2em;
  word-spacing: 0.1em;
  line-height: 1.4em;
  margin: auto;
  padding: 0 10px 0 10px;
}

#textWall {
  max-width: 30em !important;
}

nav {
  margin-bottom: 20px;
}

section {
  background: #131313;
  /*border-radius: 8px;*/
  border-left: 6px solid #1E90FF;
  padding: 10px 20px 30px 20px;
  margin: 0 0 20px 0;
}

section h2 {
    color: #1E90FF;
}

footer {
    text-align: center;
    margin-bottom: 20px;
}

hr{
  border-image: linear-gradient(to right, #FF00FF 0%, #1E90FF 100%);
  border-image-slice: 1;
  border-width: 1px;
  opacity: 0.6;;
  margin-bottom: 40px;
}

h1 {
  color: #1E90FF;
}

h1.home {
  font-size: 3rem;
  margin-bottom: -14px;
}

h2 {
  font-size: 1.6rem;
  color: #1E90FF;
}
h2.home {
  color: #FF00FF;
}

a {
  color: #FF00FF;
  text-decoration: none;
}

a:hover {
  background-color: #FF00FF;
  color: #FFF;
}

a:active {
  background-color: #FF00FF;
  color: #FFF;
}

.postDate {
  color: #FF00FF;
}

#siteHead {
margin: auto;
width: 215px;
margin-bottom: 30px;
}

#ascii {
color: #FF00FF;
animation-name: colorize;
animation-duration: 5s;
animation-iteration-count: infinite;
}

@keyframes colorize {
    0% {
      color: #FF00FF;
    }
    50% {
      color: #1E90FF;
    }
    100% {
      color: #FF00FF;
    }
}
