html, body {
	background: #000;
	background-image: url("../images/butYourFree.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover ;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

article {
    color: #fff;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
    }

.centerfree {
    height: 200px;
    width: 100%;
}

img {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

    
