html, body {
	background: #000;
	background-image: url("../images/brownBlink2.gif");
    margin: 0 auto;
    overflow: hidden;
    padding-top: 60px;
}


article {
    display: flex;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
    }

img {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

    
