html, body {
	background: #000;
	background-image: url("../images/background.gif");
    margin: 0 auto;
    overflow: hidden;
}

main {
    margin-top: 50px;
}

article {
    text-align: center;
}

.centerPos {
    display: flex;
    justify-content: center;
}

#flyGirl {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 50vh;
    max-height: 50vh;
}
img {
    width: 33.333%;
    height: auto;
	display: inline-block;
}
#empress {
    z-index: 100; 
}

@keyframes flash {
	0% {opacity: 0;} 
	25% {opacity: 0.3;}
	75% {opacity: 0.5;}
	100%{opacity: 0.1;}
}
@keyframes flash2 {
	0% {opacity: 0;} 
	50%{opacity: 0.9;}
	100%{opacity: 0;}
}

@keyframes flap {
    0% {transform: rotate(-50deg);}
    50%{transform: rotate(-60deg);}
    100%{transform: rotate(-50deg);}
}
@keyframes flap2 {
    0% {transform: rotate(50deg);}
    50%{transform: rotate(60deg);}
    100%{transform: rotate(50deg);}
}
.flap {
    animation-name: flap;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.flap2 {
    animation-name: flap2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}



.distort {
	margin: 0 auto;
	opacity: 0.5;
	animation-name: flash;
	animation-duration: .003s;
	animation-iteration-count: infinite;
}
.distort2 {
	margin: 0 auto;
	opacity: 1;
	animation-name: flash2;
	animation-duration: 0.03s;
	animation-iteration-count: infinite;
}
.leanLeft {
    transform: rotate(-45deg);
    opacity: 0.3;
}

.leanRight {
    transform: rotate(45deg);
    opacity: 0.3;
}


form {
    border: 2px solid tan;
    display: inline-block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    color: #fff;
    font-weight: 700;
    background-color: black;
}
input[type=password], input[type=text], select{
  width: 100%;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style the submit button */
input[type=submit] {
  width: 100%;
  background-color: tan;
  color: white;
  padding: 8px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
  background-color: red;
}
